<div class="cards-One-Post col-md-4">
  <div class="box-One-Post">
    <h1><i class="fas fa-arrow-right"></i> <span>{{title}}</span></h1>
      <div class="name-One-Post">
      -<span> {{user.username}} </span>
      </div>

    <div class="postContent-One-Post">
      {{post_content}}
    </div>
    <div class="createdBy-One-Post">

        <div class="date-One-Post">
    NEWS: {{createdAt}}
    </div>  

</a>
      </div>

    </div>
  </div>
</div>