<div class="login-signup-background">
  <div class="login-signup-info">
<h3 class = "ml-5">EDIT POST:</h3>
<form class = "col-8 ml-4 editButton" data-id="{{post.id}}">
  <div class="form-group">
    <label for="postTitle">title:</label>
    <input class="form-input" type="text" id="postTitle" value="{{post.title}}"/>
  </div>
  <div class="form-group">
    <label for="postContent">content:</label>
    <textarea class="form-input" rows ="4" id="postContent">{{post.post_content}}</textarea>
  </div>
  <div class="form-group">
    <button class="btn"  type="submit"><i class="far fa-save"></i></button>
  </div>
  <div>
    <button class="btn deleteButton" data-id="{{post.id}}" type="button"><i class="far fa-trash-alt"></i></button>
  </div>
 
</form>
  </div>
  </div>

<script src="/js/editpost.js"></script>
<script src="/js/deletePost.js"></script>