


<div class="login-signup-background">
  <div class="login-signup-info">
<h1 class = "ml-5">NEW POST:</h1>
<form class = "col-8 ml-4 newpostForm">
  <div class="form-group">
    <label for="newTitle">title:</label>
    <input class="form-input" type="text" id="newTitle"/>
  </div>
  <div class="form-group">
    <label for="newContent">content:</label>
    <textarea class="form-input" rows ="4" id="newContent"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-info"  type="submit">CREATE POST</button>
  </div>
</form>
 </div>
  </div>


<script src="/js/newpost.js"></script>